.titre_texte {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 6em;
}

.titre_texte p {
    font-size: 0.8em;
}

.titre_texte button {
    background-color: #cb9c7a;
    color: white;
    border-radius: 5px;
}

.titre_texte button:hover {
    background-color: #3B3024;
    color: #fff5ea;
    border-radius: 5px;
}

.titre_texte img {
    margin-top: 1em;
    margin-bottom: 1em;
}

h3 {
    font-size: 2em;
    text-align: center;
    background-color: #cb9c7a;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 5em;
    margin-bottom: 2em;
}

@media screen and (min-width: 768px) {
    .titre_texte {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        padding: 20em, 0, 20em, 0;
    }

    .titre_texte img {
        padding-top: 10em;
        width:  auto;
    }

    .h2-p {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .h2-p h2 {
        font-size: 3em;
    }

    .h2-p p {
        font-size: 2em;
    }

    .h2-p button {
        font-size: 2em;
    }

}