.h1-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    padding-top: 6em;
}

.bg-img {
    width: 80%;
    height: 10em;
    background-image: url('../images/coffees/650753915.png');
    background-size: 150%;
    display: flex;
    justify-content: center;
    opacity: 80%;
}

.bg-img h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff5ea;
}

.btn-categorie {
    text-align: end;
    padding: 2em;
}

.btn-categorie select {
    background-color: #cb9c7a;
    border: 2px solid #3B3024;
    font-size: x-large;
    border-radius: 5px;
}

.btn-categorie select:hover {
    border: 2px solid #3B3024;
    background-color: #3B3024;
    color: #fff5ea;
}

.btn-categorie label {
    font-weight: bold;
    font-size: xx-large;
}

.btn-voir-tout{
    padding: 2em 2em 0 2em;
}

.btn-voir-tout button {
    background-color: #cb9c7a;
    border: 2px solid #3B3024;
    border-radius: 5px;
}

.btn-voir-tout button:hover {
    border: 2px solid #3B3024;
    background-color: #3B3024;
    color: #fff5ea;
}

.article-catalogue {
    width: auto;
}

@media screen and (min-width: 768px) {
    .article-catalogue {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 1em;
    }

    .h1-img {
        padding-top: 15em;
    }

    .bg-img {
        width: 80%;
        height: 60em;
        background-size: 100%;
    }

    .bg-img h1 {
        font-size: 8em;
    }

    .btn-categorie button {
        font-size: xx-large;
    }

    .btn-voir-tout button {
        font-size: xx-large;
    }
}