<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="/css/style.css">
    <% if (page === "accueil") { %>
        <link rel="stylesheet" href="/css/accueil.css">
    <% } else if (page === "catalogue") { %>
        <link rel="stylesheet" href="/css/catalogue.css">
    <% } else if (page === "page-produit") { %>
        <link rel="stylesheet" href="/css/page-produit.css">
    <% } else if (page === "favoris") { %>
        <link rel="stylesheet" href="/css/favoris.css">
    <% } else if (page === "404") { %>
        <link rel="stylesheet" href="/css/404.css">
    <% } else if (page === "contact") { %>
        <link rel="stylesheet" href="/css/contact.css">
    <% } %>
    <script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script src="/script.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <div class="logo-titre">
                <img src="/images/logo.svg" alt="logo">
                <h1>oCoffee</h1>
            </div>

            <div id="mySidenav" class="sidenav">
                <a id="closeBtn" href="#" class="close">x</a>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/catalogue">Catalogue</a></li>
                    <li><a href="/favoris">Favoris</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>

        <a href="#" id="openBtn">
            <img src="/images/burger-bar.png" class="burger-icon">
        </a>

        </nav>
    </header>