<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header>
        <nav>
            <img src="public\images\logo.svg" alt="logo">
            <p>oCoffee</p>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/about">Catalogue</a></li>
                <li><a href="/contact">Boutique</a></li>
            </ul>
        </nav>
    </header>