<%- include('partials/head') %>

<main>
    <section>
        <div class="titre_texte">
            <div class="h2-p">
            <h2>Erreur 404</h2>
            <p>La page que vous cherchez n'existe pas.</p>
            <a href="/"><button>Retour à l'accueil</button></a>
            <img src="/images/tasse-vide.jpg" alt="">
        </div>
        </div>
    </section>
</main>

<%- include('partials/foot') %>
