<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="../../public/css/style.css">
    <script src="../../index.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <div class="logo-titre">
                <img src="../../public/images/logo.svg" alt="logo">
                <h1>oCoffee</h1>
            </div>

            <div id="mySidenav" class="sidenav">
                <a id="closeBtn" href="#" class="close">x</a>
                <ul>
                    <li><a href="acceuil.html">Accueil</a></li>
                    <li><a href="catalogue.html">Catalogue</a></li>
                    <li><a href="page-produit.html">Boutique</a></li>
                </ul>
            </div>

        <a href="#" id="openBtn">
            <img src="../../public/images/burger-bar.png" class="burger-icon">
        </a>

        </nav>
    </header>
    <main>
        <section>
            <div class="titre_texte">
                <div class="h2-p">
                <h2>Bienvenue sur O'Coffee</h2>
                <p>Notre boutique, où règne une ambiance chaleureuse et accueillante qui éveille tous vos sens. 
                Dès que vous franchissez la porte, vous êtes enveloppé d'une douce symphonie d'arômes envoûtants 
                de café fraîchement moulu.</p>
                <button>Voir le catalogue</button>
            </div>
            <img src="../../public/images/about.jpg" alt="café qui donne envie">
            </div>
        </section>


        <h3>Nouveauté</h3>
        <section class="section-article">
            
            <article>
                <img src="../../public/images/coffees/691550753.png" alt="expresso">
                <h4>Expresso</h4>
                <p>Café fort et concentré préparé en faisant passer de l'eau chaude à travers du café finement moulu</p>
                <button>Découvrir</button>
            </article>
            <article>
                <img src="../../public/images/coffees/134009550.png" alt="columbian">
                <h4>Columbian</h4>
                <p>Café moyennement corsé avec une acidité vive et une saveur riche.</p>
                <button>Découvrir</button>
            </article>
            <article>
                <img src="../../public/images/coffees/549549090.png" alt="kenyan">
                <h4>Kenyan AA</h4>
                <p>Café complexe connu pour son acidité rappelant le vin et ses saveurs fruitées.</p>
                <button>Découvrir</button>
            </article>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 O'Coffee. Tous droits réservés.</p>
    </footer>
</body>
</html>