<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="../../public/css/style.css">
    <script src="../../index.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <div class="logo-titre">
                <img src="../../public/images/logo.svg" alt="logo">
                <h1>oCoffee</h1>
            </div>

            <div id="mySidenav" class="sidenav">
                <a id="closeBtn" href="#" class="close">x</a>
                <ul>
                    <li><a href="acceuil.html">Accueil</a></li>
                    <li><a href="catalogue.html">Catalogue</a></li>
                    <li><a href="page-produit.html">Boutique</a></li>
                </ul>
            </div>

        <a href="#" id="openBtn">
            <img src="../../public/images/burger-bar.png" class="burger-icon">
        </a>

        </nav>
    </header>

    <main>
        <div class="img-illustration">
            <img src="../../public/images/coffees/909010558.png" alt="">
        </div>

        <article class="article-produit">
            <div class="publier">
            <p>Publié le XX/XX/XXXX</p>
            </div>
            <h4>Café du pérou</h4>
            <p class="article-p">Café fort et concentré préparé en faisant passer de l'eau chaude à travers du café finement moulu</p>
            <button>Catalogue</button>
        </article>
    </main>

    <footer>
        <p>&copy; 2023 O'Coffee. Tous droits réservés.</p>
    </footer>
</body>
</html>